# Homework 02

# Table of Contents

Both lambdas are used in the context of Table.map().

* [Transforms each "occupation title" into uppercase for part 3, question 15.] 

* [Converts the values in the "annual mean wage" column into floating point numbers for part 3, question 16.]

Use Table of Contents to navigate to each lambda.

In [22]:
# step 1: read in file as using csv library
import csv

with open ('occupations-truncated.csv', newline='') as f:
    reader = csv.DictReader(f)
    data = [row for row in reader]

In [23]:
# find occupation title and annual mean wage for highest and lowest annual mean wage for...
# - rows with detail value in level col:

detail_as_val = [row for row in data if row['Level'] == 'detail']

# - rows where occupation title includes 'computer' or 'data':

tech_jobs = [row for row in detail_as_val if
             'comp' in row['Occupation title'].lower() or
             'data' in row['Occupation title'].lower()]


# parse salaries (currently dollar vals represented as strings) into ints:

amw = [[row["Occupation title"], int(row['Annual mean wage'].replace("$","").replace(",",""))] for row in tech_jobs]
salaries = [row[1] for row in amw]

max_min_sal = max(salaries), min(salaries)
max_min = [row for row in amw if row[1] in max_min_sal]

print(max_min)

[['Computer and Information Systems Managers', 161730], ['Data Entry Keyers', 35850]]

In [24]:
# part 3: nelta.py and occupation with annual wage > $200,000
import nelta as nt

file = nt.read_csv('occupations-truncated.csv')

In [25]:
file.shape()

(1034, 5)

In [26]:
file.columns

['Occupation code',
 'Occupation title',
 'Level',
 'Employment',
 'Annual mean wage']

In [27]:
file.head(4)

        Occupation code    Occupation title               Level          Employment    Annual mean wage
0               00-0000     All Occupations               total         139099570.0             $56,310
1               11-0000 Management Occupa..               major           7947300.0            $126,480
2               11-1000      Top Executives               minor           2601070.0            $129,920
3               11-1011    Chief Executives              detail            202360.0            $197,840

In [28]:
last_four = file.tail(4)

In [29]:
temp = last_four["Employment"]
temp

1030  12050.0
1031  120850.0
1032  12610.0
1033  26300.0

In [30]:
for val in temp.values:
    print(val)

12050.0
120850.0
12610.0
26300.0

In [31]:
last_four[['Occupation title', 'Employment']]

       Occupation title          Employment
1030    Wellhead Pumpers             12050.0
1031 Refuse and Recycl..            120850.0
1032 Tank Car, Truck, ..             12610.0
1033 Material Moving W..             26300.0

In [32]:
details = file['Level'] == 'detail'
details = file[details]
len(details.values)

772

In [33]:
my_filter = details['Employment'] < 500

In [34]:
type(my_filter)

nelta.LabeledList

In [35]:
print(my_filter.values[3])

False

In [36]:
details[my_filter].head(5)

        Occupation code    Occupation title               Level          Employment    Annual mean wage
508             35-2013 Cooks, Private Ho..              detail               320.0             $46,810
916             51-7032 Patternmakers, Wood              detail               190.0             $60,750

In [37]:
rare_occ = details[my_filter]

## first lambda

In [38]:
rare_occ['Occupation title'].map(lambda x: x.upper())

508   COOKS, PRIVATE HOUSEHOLD
916   PATTERNMAKERS, WOOD

## second lambda

In [39]:
amw = file["Annual mean wage"].map(
    lambda str: float(str.replace("$","").replace(",","")))
amw = amw > 200000
get_these_jobs = file[amw]

get_these_jobs

        Occupation code    Occupation title               Level          Employment    Annual mean wage
383             29-1022 Oral and Maxillof..              detail              4120.0            $234,990
384             29-1023       Orthodontists              detail              5040.0            $237,990
385             29-1024     Prosthodontists              detail               530.0            $214,870
407             29-1211   Anesthesiologists              detail             28590.0            $271,440
408             29-1215 Family Medicine P..              detail             98590.0            $214,370
409             29-1216 General Internal ..              detail             50600.0            $210,960
410             29-1218 Obstetricians and..              detail             18900.0            $239,120
412             29-1223       Psychiatrists              detail             25540.0            $217,100
413             29-1228 Physicians, All O..              detail            375390.0            $218,850
414             29-1248 Surgeons, Except ..              detail             37900.0            $251,650